
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0; /* Dark background color */
}
.scrollable-content {
    height: 150px;
    }

.scrollable-content::-webkit-scrollbar {
    display: none;
}