<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Feedback Chart</title>
    <!-- Include Chart.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>
    <!-- Display feedback chart -->
    <canvas id="feedbackChart"></canvas>

    <script>
        // Parse the JSON string into a JavaScript object
        var feedbackData = {{json_data | safe}}
        // var feedbackData = [
        //     {"user__username": "admin1", "algorithm": "Matrix", "genre": true, "mood": true, "new_music": false, "artists": true, "nostalgia": false}, 
        //     {"user__username": "user2", "algorithm": "Matrix", "genre": false, "mood": true, "new_music": true, "artists": true, "nostalgia": false}, 
        //     {"user__username": "user2", "algorithm": "Matrix", "genre": true, "mood": false, "new_music": true, "artists": false, "nostalgia": false}, 
        //     {"user__username": "admin1", "algorithm": "Matrix", "genre": false, "mood": false, "new_music": true, "artists": true, "nostalgia": true}, 
        //     {"user__username": "user2", "algorithm": "Matrix", "genre": false, "mood": false, "new_music": true, "artists": true, "nostalgia": false}, 
        //     {"user__username": "admin1", "algorithm": "Matrix", "genre": false, "mood": true, "new_music": true, "artists": false, "nostalgia": true}, 
        //     {"user__username": "sups", "algorithm": "Matrix", "genre": false, "mood": true, "new_music": true, "artists": false, "nostalgia": false}, 
        //     {"user__username": "admin1", "algorithm": "Apriori", "genre": false, "mood": false, "new_music": true, "artists": true, "nostalgia": false}, 
        //     {"user__username": "admin1", "algorithm": "Apriori", "genre": false, "mood": false, "new_music": true, "artists": false, "nostalgia": false}, 
        //     {"user__username": "sups", "algorithm": "Apriori", "genre": true, "mood": false, "new_music": true, "artists": true, "nostalgia": false}, 
        //     {"user__username": "user1", "algorithm": "Apriori", "genre": false, "mood": true, "new_music": false, "artists": true, "nostalgia": false}, 
        //     {"user__username": "user2", "algorithm": "Matrix", "genre": true, "mood": false, "new_music": true, "artists": false, "nostalgia": true},
        //     {"user__username": "user1", "algorithm": "Matrix", "genre": false, "mood": false, "new_music": true, "artists": true, "nostalgia": false}, 
        //     {"user__username": "admin1", "algorithm": "Matrix", "genre": false, "mood": true, "new_music": false, "artists": false, "nostalgia": true}, 
        //     {"user__username": "sups", "algorithm": "Matrix", "genre": true, "mood": false, "new_music": true, "artists": false, "nostalgia": false}, 
        //     {"user__username": "user1", "algorithm": "Matrix", "genre": true, "mood": true, "new_music": false, "artists": false, "nostalgia": true}, 
        //     {"user__username": "sups", "algorithm": "Apriori", "genre": false, "mood": false, "new_music": true, "artists": true, "nostalgia": true}, 
        //     {"user__username": "user2", "algorithm": "Apriori", "genre": false, "mood": false, "new_music": false, "artists": false, "nostalgia": true}, 
        //     {"user__username": "admin1", "algorithm": "Matrix", "genre": false, "mood": false, "new_music": true, "artists": true, "nostalgia": false}, 
        //     {"user__username": "admin1", "algorithm": "Apriori", "genre": false, "mood": false, "new_music": false, "artists": true, "nostalgia": true}, 
        //     {"user__username": "sups", "algorithm": "Apriori", "genre": false, "mood": false, "new_music": false, "artists": true, "nostalgia": false}, 
        //     {"user__username": "user2", "algorithm": "Matrix", "genre": true, "mood": false, "new_music": true, "artists": false, "nostalgia": false}, 
        //     {"user__username": "admin1", "algorithm": "Apriori", "genre": true, "mood": false, "new_music": false, "artists": true, "nostalgia": false}, 
        //     {"user__username": "user2", "algorithm": "Apriori", "genre": false, "mood": true, "new_music": false, "artists": true, "nostalgia": false}, 
        //     {"user__username": "sups", "algorithm": "Matrix", "genre": false, "mood": false, "new_music": false, "artists": true, "nostalgia": true}
        // ];
        

    
        var algorithms = ['Matrix', 'Apriori'];
        var labels = ['genre', 'mood', 'new_music', 'artists', 'nostalgia'];
        var datasets = [];
        
        feedbackData.forEach(function(entry) {
            entry.genre = entry.genre === 'true';
            entry.mood = entry.mood === 'true';
            entry.new_music = entry.new_music === 'true';
            entry.artists = entry.artists === 'true';
            entry.nostalgia = entry.nostalgia === 'true';
        });

        // Extract data for each label and each algorithm
        algorithms.forEach(function(algorithm) {
            var algorithmData = feedbackData.filter(function(entry) {
                return entry.algorithm === algorithm;
            });

            var data = labels.map(function(label) {
                var count = algorithmData.reduce(function(acc, entry) {
                    return acc + (entry[label] ? 1 : 0);
                }, 0);

                return count;
            });

            datasets.push({
                label: algorithm,
                data: data,
                backgroundColor: getRandomColor(),
                borderColor: getRandomColor(),
                borderWidth: 1,
                // barThickness: 20
            });
        });

        // Create a bar chart using Chart.js
        var ctx = document.getElementById('feedbackChart').getContext('2d');
        var feedbackChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                title: {
                    display: true,
                    text: "User Feedback Bar Chart"
                },
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });

        // Function to generate random color for each dataset
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
    
</body>
</html>
