{% extends "base.html" %}

{% block content %}
<div class="flex">
    <section>
        {% if request.user.is_authenticated %}
            <h2 class="font-semibold text-lg py-2">Hello {{ request.user.username }}</h2>
        {% else %}
            <h2 class="font-semibold text-lg py-2">Welcome, Guest!</h2>
        {% endif %}
        
        
        {% for playlist in featured_playlists %}
            <h2 class="text-lg font-semibold py-5">{{ playlist.playlist_name }}</h2>
            <div class="flex flex-row gap-4 px-5 overflow-x-scroll" style="width: 1200px">
                {% for track in playlist.tracks %}
                    <div {% if user.is_authenticated %} onclick="playSong('{{ track.preview_url }}', '{{ track.name }}', '{{ track.artist_name }}','{{track.album_image}}')" {% else %} onclick="showLoginAlert()" {% endif %}>
                        <div class="card" style="width: 200px; margin-bottom: 50px;">
                            <img class="card-img-top" style="height: 150px;" src="{{ track.album_image }}" alt="{{ track.album_name }}">
                            <div class="card-body" style="height: 150px;">
                                <h2 class="text-green-600 text-base line-clamp-1">{{ track.name }}</h2>
                                <h3 class="text-medium">By <strong>{{ track.artist_name }}</strong></h3>
                                <!-- <p class="text-sm">Popularity: {{ track.track_popularity }}</p>
                                <p class="text-sm line-clamp-1">Genres: {{track.artist_genres}} </p> -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        
    </section>
</div>

<script>
    function showLoginAlert() {
        alert("Please log in to access this feature.");
        // You can add more sophisticated handling, e.g., redirect to the login page
    }
</script>

{% endblock %}
