{% extends "base.html" %}

{% block content %}
<div class="flex flex-row flex-wrap justify-center gap-4">
    {% if tracks %}
        {% for track in tracks %}
            <div {% if user.is_authenticated %} onclick="playSong('{{ track.preview_url }}', '{{ track.song_title }}', '{{ track.artist_name }}','{{track.album_image}}')" {% else %} onclick="showLoginAlert()" {% endif %}>
                <div class="card" style="width: 200px; margin-bottom: 50px;">
                    <img class="card-img-top" src="{{ track.album_image }}" alt="{{ track.album_name }}">
                    <div class="card-body" style="height: 150px;">
                        <h2 class="text-green-600 text-base">{{ track.song_title }}</h2>
                        <h3 class="text-medium">By <strong>{{ track.artist_name }}</strong></h3>
                        <!-- <p class="text-sm">Popularity: {{ track.track_popularity }}</p>
                        <p class="text-sm line-clamp-1">Genres: {{track.artist_genres}} </p> -->
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

